*{margin:0;
padding:0;
font-family: 'Roboto', sans-serif;

}
:root {
    --primary-color:rgb(156, 119, 156);
}

a{text-decoration:none}
.banner{
    color:white;
    background:linear-gradient(rgba(0,0,0,0.5),var(--primary-color)),url("/BARBER/Barber_Shop_img/banner.jpg");
background-size: cover;
background-position: center;
height:100vh;}
.logo{margin: 30px 0px 0px 150px;
width:150px;}
.centre{text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.centre h1{font-size:110px;
    font-family: 'Kaushan Script', cursive;
    }
.centre p{font-size:20px;
margin-top: 10px;
font-style: italic;}
.butcentre button{margin:60px 10px;
background: transparent;
border-style: solid;
color: white;
border-width: 1px;
font-size: 17px;
padding: 10px 27px;
transition: 0.7s;}
.butcentre button:hover{color:gray;
background-color: white;
cursor: pointer;
}
#sidebar{position: fixed;
    z-index: 2;
    height:100vh;
    width: 250px;
    right: -250px;
    top: 0;
    bottom: 0;
    transition:0.5s;
    
background-color:var(--primary-color);}
#sidebar li{margin:50px 20px;
    list-style: none;
    color: white;
}
#menubtn{background:var(--primary-color) ;
    width: 50px;
    height:50px;
    text-align: center;
    position: fixed;
    top:20px;
    right:30px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{width: 20px;
margin-top:15px;}